#
# User defined Makefile options for the Video Disk Recorder
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#
# See the main source file 'vdr.c' for copyright information and
# how to reach the author.
#
# $Id: Make.config.template 3.0 2013/02/18 10:55:39 kls Exp $

### The C compiler and options:

CC       = gcc
CFLAGS   = -g -O3 -Wall

CXX      = g++
CXXFLAGS = -g -O3 -Wall -Werror=overloaded-virtual -Wno-parentheses

### Set Flags for Cortex-A8 platform
CPUOPT = armv7l
CFLAGS = -pipe -O2 -mfloat-abi=hard -mtune=cortex-a8 -D__ARM_NEON__ -mfpu=neon -march=armv7-a -fPIC -Werror=overloaded-virtual -Wno-parentheses -fsigned-char

### Set environment for crosscompiling
HOST=arm-linux-gnueabihf

ifeq ($(shell uname -m),armv7l)
  BUILD=arm-linux-gnueabihf
  CROSS_COMPILE=
  TOOLCHAIN = /usr/lib
else
  BUILD = amd64-linux
  CROSS_COMPILE = ${HOST}-
  TOOLCHAIN = /usr/lib/${HOST}
  DESTDIR   = $(BASEDIR)/export
endif

export CFLAGS+=${LDFLAGS}
export CXXFLAGS=${CFLAGS}
export CPPFLAGS=${CFLAGS}
export LD=${CROSS_COMPILE}ld
export AR=${CROSS_COMPILE}ar
export CC=${CROSS_COMPILE}gcc
export CXX=${CROSS_COMPILE}g++
export CXXCPP=${CXX} -E
export RANLIB=${CROSS_COMPILE}ranlib
export STRIP=${CROSS_COMPILE}strip
export OBJDUMP=${CROSS_COMPILE}objdump

### The directory environment:

# Default directories (adjust as necessary or desired):

PREFIX    = /usr/local
